.container {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin: 40px; */
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff; */
}

.image-section {
    flex: 2;
    margin-left: 200px;
}

.guest-image {
    max-width: 70%;
    border-radius: 10px;
}

.content-section {
    flex: 2;
    max-width: 600px;
}

.about-heading {
    color: #e60073;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: -75px;
}

.main-heading {
    font-size: 28px;
    color: #222;
    margin-bottom: 20px;
    margin-left: -75px;
}

.description {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: -75px;
}

.address {
    color: #333;
    margin-bottom: 20px;
    margin-left: -75px;
}

.book-button {
    margin-left: -75px;
    background-color: #e60073;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #d00067;
}
